set RED '\033[0;31m'
set GREEN '\033[0;32m'
set NC '\033[0m'

function commit
    set commitMessage "$argv"

    git add .

    if test -z "$commitMessage"
        aicommits
        return
    end

    eval "git commit -a -m '$commitMessage'"
end

function mk
    mkdir -p "$argv"
    cd "$argv"
end

function a
    php artisan "$argv"
end

function nb
    git checkout -b $argv[1]
end

function cb
    git checkout $argv[1]
end

function dev
    set colors "#c4b5fd,#93c5fd,#fb7185,#fdba74"
    npx concurrently -c $colors \
        "php artisan reverb:start" \
        "php artisan horizon" \
        "php artisan pail --timeout=0" \
        "yarn dev" \
        --names reverb,horizon,logs,vite
end

function vl
    set secure 0
    set project ""
    set directory (pwd)

    for arg in $argv
        switch $arg
            case "-s"
                set secure 1
            case "*"
                set project $arg
        end
    end

    if test -z "$project"
        set project (basename $PWD)
    end

    set link_path ~/codes/.valet/$project

    if test -L $link_path
        echo "⚠️  Link '$project' já existe em .valet"
        read -l -P "🔁 Deseja sobrescrever? (s/n): " confirm
        if test "$confirm" != "s"
            echo "❌ Cancelado."
            return 1
        end
        rm $link_path
    end

    echo "🔗 Criando link simbólico em .valet/$project"
    ln -s $directory $link_path

    if test $secure -eq 1
        echo "🔒 Ativando SSL para $project..."
        valet secure $project
    else
        valet link $project > /dev/null
    end

    set protocol (test $secure -eq 1; and echo "https"; or echo "http")
    echo "🌐 Abrindo $protocol://$project.test"
    open "$protocol://$project.test"
end
